:root {
    --font-primary: 'Montserrat', sans-serif;

    --font-size-montserrat-regular-18: 18px;
    --font-size-montserrat-regular-20: 20px;
    --font-size-montserrat-regular-24: 24px;

    --font-size-montserrat-medium-20: 20px;
    --font-size-montserrat-medium-24: 24px;
    --font-size-montserrat-medium-30: 30px;

    --font-size-montserrat-black-48: 48px;
    --font-size-montserrat-black-60: 60px;
    --font-size-montserrat-black-72: 72px;

    --color-bg: #F0F0F0;

    --color-primary: #2962b8;
    --color-primary-100: #cde0fc;
    --color-primary-200: #9bc1fa;
    --color-primary-300: #69a2f8;
    --color-primary-400: #3783f6;
    --color-primary-500: #2962b8;
    --color-primary-600: #1b417b;
    --color-primary-700: #0d203d;

    --color-secondary: #aa4da8;
    --color-secondary-100: #f8d9f7;
    --color-secondary-200: #f1b3f0;
    --color-secondary-300: #ea8de8;
    --color-secondary-400: #e367e1;
    --color-secondary-500: #aa4da8;
    --color-secondary-600: #713370;
    --color-secondary-700: #381938;
}

body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

h1, h2, p {
    margin: 0px;
    letter-spacing: 0.03rem;
}

a {
    text-decoration: none;
    letter-spacing: 0.04rem;
}

button {
    background-color: var(--color-primary-500);
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: var(--font-size-montserrat-regular-20);
    font-weight: 700;
    filter: drop-shadow(1px 1px 10px var(--color-primary-500)); 
    transition: background-color 0.3s ease, filter 0.3s ease;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: var(--color-primary-600); 
    filter: drop-shadow(1px 1px 12px var(--color-primary-600));
}


Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 8rem;
    gap: 4rem;
}

.jumbotron {
    position: relative;
}

.jumbotron .text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 10;
}

.jumbotron .text h1 {
    font-size: 7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.jumbotron .text p {
    font-size: 2rem;
    font-weight: 600;
}