.carousel {
    position: relative;
    width: 100%;
    max-height: 500px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.jumbotron-berita {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(149, 145, 169);
    border: none;
    cursor: pointer;
    padding: 20px;
    z-index: 1000;
    filter: none;
}

.left {
    left: 40px;
}

.right {
    right: 40px;
}

.jumbotron-berita {
    position: relative;
    width: 100%;
}

.jumbotron-berita img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 1.5rem;
    filter: brightness(0.5);
}

.jumbotron-berita div {
    position: absolute;
    /* Change these properties for bottom-left positioning */
    top: auto;
    /* Remove top constraint */
    bottom: 0;
    /* Position from the bottom edge */
    left: 0;
    /* Position from the left edge */
    transform: none;
    /* Remove centering transform */

    width: 90%;
    /* Keep width as is, or adjust as needed */
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: left;
    /* Keep text aligned left */
    z-index: 10;

    /* Add some padding from the bottom and left edges of the jumbotron */
    padding: 2rem 3rem;
    /* Example: 1rem top/bottom, 2rem left/right */
    box-sizing: border-box;
    /* Ensure padding is included in the width */
}

/* You might need to adjust margin for h1 and p based on new padding */
.jumbotron-berita h1 {
    margin-top: 0;
    /* Remove top margin if padding is used on parent */
    margin-bottom: 0.5rem;
    /* Adjust as needed */
    /* Text Truncation for H1 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines for H1 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jumbotron-berita p {
    font-size: 1rem;
    margin-top: 0;
    /* Remove top margin if padding is used on parent */
    margin-bottom: 0;
    /* Remove bottom margin if padding is used on parent */
    font-weight: 500;
    /* Text Truncation for Paragraph */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limit to 3 lines for paragraph */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0 0 0;
    color: var(--color-primary-200);
}

.news-link svg {
    width: 2rem;
    height: 2rem;
    stroke: var(--color-primary-200);
}

.news {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1.5rem;
    width: 100%;
}

.news h1 {
    font-size: 3rem;
    font-weight: 800;
}

.news p {
    font-size: 1.5rem;
    font-weight: 500;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    border-radius: 1rem;
    width: 30%;
    max-width: 400px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;
    overflow: hidden;
}

.card img {
    border-radius: 1rem 1rem 0px 0px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-text {
    padding: 1rem;
    gap: 1rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.card-text h2,
.card-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text h2 {
    font-size: 1.75rem;
    font-weight: 700;
    -webkit-line-clamp: 3;
}

.card-text p {
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-line-clamp: 2;
}

.card-text a {
    color: #3B82F6;
    font-size: 1.2rem;
    font-weight: 700;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo .ls {
    width: 25%;
    height: auto;
}

.logo .text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 3rem;
    width: 60%;
}

.logo h1 {
    font-size: 3rem;
    font-weight: 800;
}

.component {
    display: flex;
    gap: 3rem;
}

.component div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.component p {
    font-weight: 500;
    color: #1b417b;
}

.text p {
    font-size: 1.5rem;
    font-weight: 500;
}

.explore {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}

.explore span {
    background: linear-gradient(90deg, #186FF2, #BD3EBB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.visi {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.visi .left,
.visi .right {
    position: relative;
}

.visi .text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    z-index: 10;
}

.visi .right .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visi h1 {
    font-size: 4rem;
    font-weight: 800;
}

.visi p {
    font-size: var(--font-size-montserrat-regular-20);
    font-weight: 200;
}

.text-quote {
    font-size: var(--font-size-montserrat-medium-30);
    font-weight: 700;
    color: var(--color-primary-600);
    padding: 2rem 2rem;
}

@media (max-width: 768px) {
    .carousel-control {
        visibility: hidden;
    }

    jumbotron-berita img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 1.5rem;
        filter: brightness(0.5);
    }

    .jumbotron-berita div {
        top: auto;
        /* Remove top constraint */
        bottom: 0;
        /* Position from the bottom edge */
        left: 0;
        /* Position from the left edge */
        transform: none;
        /* Remove centering transform */

        width: 100%;
        /* Keep width as is, or adjust as needed */
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        text-align: left;
        /* Keep text aligned left */
        z-index: 10;

        /* Add some padding from the bottom and left edges of the jumbotron */
        padding: 2rem;
        /* Example: 1rem top/bottom, 2rem left/right */
        box-sizing: border-box;
        /* Ensure padding is included in the width */
    }

    /* You might need to adjust margin for h1 and p based on new padding */
    .jumbotron-berita h1 {
        margin-top: 0;
        /* Remove top margin if padding is used on parent */
        margin-bottom: 0.5rem;
        /* Adjust as needed */
        /* Text Truncation for H1 */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Limit to 2 lines for H1 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .jumbotron-berita p {
        font-size: 14px;
        margin-top: 0;
        /* Remove top margin if padding is used on parent */
        margin-bottom: 10;
        /* Remove bottom margin if padding is used on parent */
        /* Text Truncation for Paragraph */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Limit to 3 lines for paragraph */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .news-link {
        display: flex;
        align-items: center;
        padding: 1rem 0 0 0;
        gap: 0.5rem;
        color: var(--color-primary-200);
    }

    .news-link svg {
        width: 1.5rem;
        height: 1.5rem;
        stroke: var(--color-primary-200);
    }

    .jumbotron-berita img {
        width: 100%;
        height: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 1.5rem;
        filter: brightness(0.5);
    }

}