.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
    width: 100%;
}

.news h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #1b417b;
}

.news p {
    font-size: 1.5rem;
    font-weight: 500;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    border-radius: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 1rem 1rem 0px 0px;
    height: 50%;
    object-fit: cover;
}

.card-text {
    padding: 1rem;
    gap: 1rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.card-text h2, .card-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text h2 {
    font-size: 1.75rem;
    font-weight: 700;
    -webkit-line-clamp: 3;
}

.card-text p {
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-line-clamp: 2;
}

.card-text a {
    color: #3B82F6;
    font-size: 1.2rem;
    font-weight: 700;
}