.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
    width: 100%;
}

.news h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #1b417b;
}

.news p {
    font-size: 1.5rem;
    font-weight: 500;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    border-radius: 1rem;
    width: 30%; /* Tetap menggunakan persentase untuk flexibilitas awal */
    max-width: 400px; /* Tambahkan ini untuk membatasi lebar maksimal card */
    min-width: 280px; /* Opsional: Tambahkan ini untuk memastikan card tidak terlalu kecil di layar sempit */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Mengubah ini dari 'left' ke 'flex-start' karena 'left' tidak valid di align-items */
    justify-content: flex-start; /* Mengubah ini dari 'left' ke 'flex-start' */
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    /* Tambahkan padding agar konten tidak menempel ke tepi card */
    padding-bottom: 2rem; /* atau padding: 1rem; jika Anda ingin semua sisi */
    overflow: hidden; /* Penting untuk menjaga border-radius img di dalam card */
}

.card img {
    border-radius: 1rem 1rem 0px 0px; /* Radius hanya di sudut atas */
    width: 100%; /* Pastikan gambar mengambil lebar penuh dari card */
    height: 200px; /* Atur tinggi gambar secara eksplisit */
    /* Atau min-height / max-height, tergantung kebutuhan desain Anda */
    object-fit: cover; /* Penting untuk memastikan gambar tidak terdistorsi */
    display: block; /* Menghilangkan spasi ekstra di bawah gambar */
}

.card-text {
    padding: 1rem;
    gap: 1rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.card-text h2, .card-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text h2 {
    font-size: 1.75rem;
    font-weight: 700;
    -webkit-line-clamp: 3;
}

.card-text p {
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-line-clamp: 2;
}

.card-text a {
    color: #3B82F6;
    font-size: 1.2rem;
    font-weight: 700;
}