body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

h1, h2, p {
    margin: 0px;
}

a {
    text-decoration: none;
}

Header {
    border-bottom: 2px solid #E5E8EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}

footer {
    background: #EDF0F4;
    padding: 4rem 6rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .left {
    display: flex;
    gap: 1rem;
    align-items: left;
    flex-direction: column;
}

footer .left a, footer .right p {
    color: #1b417b;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}

footer .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8rem;
    gap: 4rem;
    margin-bottom: 4rem;
}

.jumbotron {
    position: relative;
}

.jumbotron .text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 10;
}

.jumbotron .text h1 {
    font-size: 7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.jumbotron .text p {
    font-size: 2rem;
    font-weight: 600;
}

.nav {
    display: flex;
    gap: 2rem;
}

.nav a {
    color: #1b417b;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
    width: 100%;
}

.news h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #1b417b;
}

.news p {
    font-size: 1.5rem;
    font-weight: 500;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    border-radius: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 1rem 1rem 0px 0px;
    height: 50%;
    object-fit: cover;
}

.card-text {
    padding: 1rem;
    gap: 1rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.card-text h2, .card-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text h2 {
    font-size: 1.75rem;
    font-weight: 700;
    -webkit-line-clamp: 3;
}

.card-text p {
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-line-clamp: 2;
}

.card-text a {
    color: #3B82F6;
    font-size: 1.2rem;
    font-weight: 700;
}