header {
    border-bottom: 2px solid #e5e8eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    position: sticky;
    top: 0;
    z-index: 1002;
    background-color: #FFFFFF;
}

header .logo {
    height: 40px;
    width: auto;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.nav a {
    color: var(--color-primary-600);
    text-decoration: none;
    font-size: var(--font-size-montserrat-regular-16);
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: var(--color-primary-500);
}

/* MOBILE */


.hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 100;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--color-primary-700);
    margin: 5px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #FFFFFF;
    }

    header .logo {
        height: 35px;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu:hover {
        background-color: transparent;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-bg);
        z-index: 99;
        gap: 0rem;
    }

    .nav.active {
        display: flex;
    }

    .nav a {
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid var(--color-primary-200);
        background-color: #e5e8eb;
    }

    .nav a:last-child {
        border-bottom: none;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}